version: '3.8'

services:
  backend:
    volumes:
      - ./services/backend:/app
    ports:
      - "8000:8000"
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - ENV=development

  frontend:
    build:
      target: dev
    volumes:
      - ./services/frontend:/app
      - /app/node_modules
    ports:
      - "3000:5173"
    environment:
      - VITE_API_URL=http://localhost:8000